.myImage {
    border-radius: 50%;
}
.myRow{
    margin-top: 10%;
}
.secondCol{
    margin-top: 17%;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.contactLink :hover { 
    color:red;
}
.card{
    margin-top:20px;

    

}
